{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="translation-form">
    <form action="{{ url_for('home.translate') }}" method="post">
      <label for="original_text">Original text：</label>
      <input type="text" name="original_text" id="original_text">
      <input type="submit" value="Translate">
    </form>
    <p class="translation">Translation：{% if translated_text %}{{ translated_text }}{% endif %}</p>
  </div>

  <hr>

  <div class="history">
    <header>
      <h2>History</h2>
    </header>
    {% if historys  %}
      {% for history in historys %}
        <div class="history_item">
          <p class="text">{{ history.original_text }}</p>
          <p class="arrow">↓</p>
          <p class="text">{{ history.translated_text }}</p>
          <p class="time">{{ history.created_at }}</p>
        </div>
        <hr>
      {% endfor %}
    {% else %}
      <div class="history_item">
        <p class="text">PLEASE LOG IN FIRST</p>
      </div>
    {% endif %}
   </div>
{% endblock %}
