html {
  font-family: sans-serif;
  background: #e8ffe6;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: cursive;
  color: #80c5fd;
  margin: 1rem 0;
}

a {
  color: #c8e9ff;
}

span {
  color: #c8e9ff;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: rgb(59, 131, 82);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #f6d8dd;
  border: 1px solid #ff2020;
}

.translation-form {
  margin-bottom: 50px;
}

.history {
  background-color: #f3f3f3;
  padding: 20px;
  margin-top: 20px;
}

.history .text {
  font-family: system-ui;
  font-size: 10px;
  margin-block: 0px;
}

.history .arrow {
  font-family: system-ui;
  font-size: 15px;  
  margin-block: 0px;
}

.history .time{
  color: #616161;
  font-family: system-ui;
  font-size: 10px;  
  margin-block: 10px;
}
.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label, .content p {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}